{{ partial "head.html" . }}

{{ partial "nav.html" . }}

<section class="w-full md:w-theme px-4 mx-auto content">
    <article>
        <header>
            <h1 class="text-black text-5xl font-extrabold block mb-4">
                {{ .Title }}
            </h1>
            <p class="text-grey-darker leading-normal pr-10 mb-12">
                {{ .Description }}
            </p>
        </header>

        <section class="text-black font-serif leading-loose text-lg mb-12">
            {{ .Content }}
        </section>
    </article>
</section>

{{ partial "footer.html" . }}