/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

code {
  background: #fff;
  font-size: .7rem;
  padding: 4px;
  overflow: scroll;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
  white-space: pre-wrap;
  line-height: 2;
}

pre code {
  font-size: .7rem;
  word-wrap: break-word;
  padding: 16px;
  padding-bottom: 14px;
  display: block;
  color: #222222;
  background: #f2f2f2;
  overflow: auto;
  line-height: 2;
}

code.hljs {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}