{{ partial "head.html" . }}

{{ partial "nav.html" . }}

<section class="w-full md:w-theme px-4 mx-auto content">
    <article>
        <header>
            <h1 class="text-black text-5xl font-extrabold block mb-4">
                {{ .Title }}
            </h1>
            <div class="mb-10">
                <div class="text-grey-darker font-light mb-2">
                    Published on {{ .Date.Format "January 2, 2006" }} - {{ .ReadingTime }} minute read
                </div>
            </div>
        </header>

        <section class="text-black font-serif leading-loose text-lg mb-12">
            {{ .Content }}
        </section>

        {{ if .Site.Params.enableNewsletter }}
            {{ partial "newsletter.html" . }}
        {{ end }}

        {{ with .Params.tags }}
            {{ if ge (len .) 1 }}
                <div class="mb-6 py-4">
                    {{ range . }}
                        <a class="bg-grey-lighter rounded px-2 py-1 text-sm no-underline hover:bg-grey-light capitalize mr-1" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </div>
            {{ end }}
        {{ end}}
    </article>

    {{ if .Site.Params.enableShare }}
        {{ partial "share.html" . }}
    {{ end }}

    {{ if .Site.Params.enableDisqus }}
        {{ partial "disqus.html" . }}
    {{ end }}

    {{ if .Site.Params.showRelatedPosts }}
        {{ partial "related-posts.html" . }}
    {{ end }}

</section>

{{ partial "footer.html"  . }}
