{{ partial "head.html" . }}

{{ partial "nav.html" . }}

    <section id="wrapper" class="w-full md:w-theme px-4 mx-auto">
        <div class="page-tags">
            <ul>
                {{ $data := .Data }}
                {{ range $key, $value := .Data.Terms.ByCount }}
                    {{ if ($value.Name) }}
                    <li>
                        <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
                            {{ $value.Name | upper }} <span>({{ $value.Count }})</span>
                        </a>

                    </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </section>

{{ partial "footer.html" . }}